################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo/v15
/.vs
/Demo.API/obj
/Demo.Buisness/obj
/Demo.DTO/obj
/Demo.DataAccess/obj
/Demo.API/bin
/Demo.Buisness/bin/Debug/netcoreapp2.0
/Demo.Buisness/bin/Release/netcoreapp2.0
/Demo.DataAccess/bin
/Demo.DTO/bin
